@using DotNetCoreTemplate.Service

@inject ISampleTransient transient
@inject ISampleScoped scoped
@inject ISampleSingleton singleton

<table border="1">
    <tr><td colspan="3">Cotroller</td></tr>
    <tr><td>Lifetimes</td><td>Value</td><td>Hash Code</td></tr>
    <tr><td>Transient</td><td>@ViewBag.Transient</td><td>@ViewBag.TransientHashCode</td></tr>
    <tr><td>Scoped</td><td>@ViewBag.Scoped</td><td>@ViewBag.ScopedHashCode</td></tr>
    <tr><td>Singleton</td><td>@ViewBag.Singleton</td><td>@ViewBag.SingletonHashCode</td></tr>
</table>
<hr />
<table border="1">
    <tr><td colspan="3">View</td></tr>
    <tr><td>Lifetimes</td><td>Value</td><td>Hash Code</td></tr>
    <tr><td>Transient</td><td>@transient.GetSomething()</td><td>@transient.GetHashCode()</td></tr>
    <tr><td>Scoped</td><td>@scoped.GetSomething()</td><td>@scoped.GetHashCode()</td></tr>
    <tr><td>Singleton</td><td>@singleton.GetSomething()</td><td>@singleton.GetHashCode()</td></tr>
</table>